.cta-btn {
  border: none;
  background-color: var(--orange-primary);
  width: 150px;
  height: 50px;
  border-radius: 24px;
  color: white;
  font-family: var(--title-font);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
}

.cta-btn:hover {
  background-color: var(--blue-secondary);
  transition: 0.3s ;
}