.hero-section {
	width: 100%;
	max-width: 100%;
  height: 86vh;
	background: linear-gradient(135deg, #1362af, #005ec1);
	background-size: 200% 200%;
	animation: gradientMove 6s ease infinite;
}

@keyframes gradientMove {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}