.nav-link {
  color: var(--blue-primary);
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: var(--text-strong-weight);
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: var(--orange-primary);
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}
