@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}


:root {
  --blue-primary: #1362AF;
  --blue-secondary: #005EC1;
  --orange-primary: #F95901;
  --green-secondary: #77B70C;

  --gray-bg: #F7F7F7;
  --text-dark: #222222;
  --text-light: #555555;
  --white: #FFFFFF;

  --title-font: "Montserrat", sans-serif;
  --text-font: "Inter", sans-serif;

  --title-weight: 600;
  --text-strong-weight: 500;
  --text-weight: 400;
}
/* Animação base */
.reveal {
  opacity: 0;
  transform: translateY(24px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 100px;
}


/* Respeita acessibilidade */
@media (prefers-reduced-motion: reduce) {
  .reveal {
    opacity: 1;
    transform: none;
    transition: none;
  }
}
